# copy to /etc/systemd/system
# systemctl enable s0pcm-mqtt.service

[Unit]
Description=S) pulse Meter

Requires=network.target
After=network.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=idle
ExecStart=/opt/iot/s0pcm/s0pcm-mqtt.py
#RemainAfterExit=true

# incase log.py and mqtt.py is put in this location
Environment="PYTHONPATH=/opt/python/lib"
Restart=on-failure
RestartSec=60

[Install]
WantedBy=network-online.target
